<div class="detail">
    {{#if ancestors}}
        <ol class="breadcrumb">
            {{#each ancestors}}
                <li><a href="#path/{{id}}">{{text}}</a></li>
            {{/each}}
            <li class="active">{{name}}</li>
        </ol>
    {{/if}}
    <div class="method-detail">
        <h2>
            {{name}}
            {{#if methodNode.plugin}}<a href="{{methodNode.plugin.wiki}}"><span class="glyphicon glyphicon-new-window"></span> {{methodNode.plugin.title}}</a>{{/if}}
        </h2>
        <div class="signatures">
            {{#each signatures}}
                {{#if plugin.minimumVersion}}<span class="label label-min-version">Requires {{plugin.title}} v{{plugin.minimumVersion}}+</span>{{/if}}
                {{#if availableSince}}
                    <span class="label label-since">Since {{availableSince}}</span>
                {{/if}}
                {{#if deprecated}}
                    <span class="label label-deprecated"><a href="https://github.com/jenkinsci/job-dsl-plugin/wiki/Deprecation-Policy" target="_blank">Deprecated</a></span>
                {{/if}}
                {{#if generated}}
                    <span class="label label-generated"><a href="https://github.com/jenkinsci/job-dsl-plugin/wiki/Automatically-Generated-DSL" target="_blank">Generated</a></span>
                {{/if}}
                {{#if extension}}
                    <span class="label label-extension"><a href="https://github.com/jenkinsci/job-dsl-plugin/wiki/Extending-the-DSL" target="_blank">Extension</a></span>
                {{/if}}
                {{#if required}}
                    <span class="label label-required">Required</span>
                {{/if}}
                <div class="signature">
                    {{name}}<span class="highlight groovy inline">{{text}}</span>
                    {{#if context}}{<span class="expand-closure glyphicon glyphicon-option-horizontal" data-path="{{path}}" data-index="{{index}}"></span>}{{/if}}
                </div>
                {{#if html}}
                    <div class="method-doc">{{{html}}}</div>
                {{/if}}
                {{#if enums}}
                    <div class="enums">
                    {{#each enums}}
                        <div class="enum">
                            <div class="enum-title">Possible values for <code>{{paramName}}</code>:</div>
                            <ul>
                                {{#each values}}
                                    <li>{{this}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    {{/each}}
                    </div>
                {{/if}}
            {{/each}}
        </div>

        {{#if methodNode.examples}}
            <h3 class="section-header">Examples</h3>

            <pre class="highlight groovy">{{methodNode.examples}}</pre>
        {{/if}}

        {{#if usages}}
            <h3 class="section-header">Usages</h3>
            <ul class="usages">
                {{#each usages}}
                    <li>
                        <div class="method-name {{#if method.deprecated}}deprecated{{/if}}">
                            <a href="#method/{{context.type}}.{{method.name}}" title="{{method.name}}">{{method.name}}</a>
                            : <span class="simple-class-name">{{context.simpleClassName}}</span>
                        </div>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    </div>
</div>