<div class="detail">
    {{#if ancestors}}
        <ol class="breadcrumb">
            {{#each ancestors}}
                <li><a href="#path/{{id}}">{{text}}</a></li>
            {{/each}}
            <li class="active">{{name}}</li>
        </ol>
    {{/if}}
    <div class="method-detail">
        <h2>
            {{name}}
            {{#if methodNode.plugin}}<a href="{{methodNode.plugin.wiki}}"><span class="glyphicon glyphicon-new-window"></span> {{methodNode.plugin.title}}</a>{{/if}}
        </h2>
        <div class="signatures">
            {{#each signatures}}
                {{#if availableSince}}
                    <span class="label label-info">Since {{availableSince}}</span>
                {{/if}}
                {{#if deprecated}}
                    <span class="label label-warning">Deprecated</span>
                {{/if}}
                <div class="signature">
                    {{name}}<span class="highlight groovy inline">{{text}}</span>{{#if context}} {<span class="expand-closure glyphicon glyphicon-option-horizontal" data-path="{{path}}"></span>}{{/if}}
                </div>
                {{#if html}}
                    <div class="method-doc">{{{html}}}</div>
                {{/if}}
            {{/each}}
        </div>

        {{#if methodNode.html}}
            <div class="method-doc">{{{methodNode.html}}}</div>
        {{/if}}

        {{#if methodNode.examples}}
            <h3 class="section-header">Examples</h3>

            <pre class="highlight groovy">{{methodNode.examples}}</pre>
        {{/if}}

        {{#if usages}}
            <h3 class="section-header">Usages</h3>
            <ul class="usages">
                {{#each usages}}
                    <li>
                        <div class="method-name {{#if method.deprecated}}deprecated{{/if}}">
                            <a href="#method/{{context.type}}.{{method.name}}" title="{{method.name}}">{{method.name}}</a>
                            : <span class="simple-class-name">{{context.simpleClassName}}</span>
                        </div>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    </div>
</div>