<ul class="inline-context-methods">
    {{#each signatures}}
        <li>
            {{# if comment}}
                <div class="firstSentenceCommentText">
                    // {{comment}} {{#if deprecated}}Deprecated.{{/if}}
                </div>
            {{/if}}
            <a href="#path/{{path}}">{{name}}</a><span class="highlight groovy inline">{{text}}</span>
            {{#if context}}{<span class="expand-closure glyphicon glyphicon-option-horizontal" data-path="{{path}}" data-index="{{index}}"></span>}{{/if}}
        </li>
    {{/each}}
</ul>