<div class="detail">
    <div class="method-detail">
        <h2>
            {{plugin.title}}

            {{#if plugin.wiki}}
                <a href="{{plugin.wiki}}"><span class="glyphicon glyphicon-new-window"></span> Wiki</a>
            {{/if}}
        </h2>
        {{#if plugin.excerpt}}
            <div class="method-doc">{{{plugin.excerpt}}}</div>
        {{/if}}

        <h3 class="section-header">DSL Methods</h3>
        <ul class="usages">
            {{#each usages}}
                <li>
                    <div class="method-name {{#if method.deprecated}}deprecated{{/if}}">
                        <a href="#method/{{context.type}}.{{method.name}}" title="{{method.name}}">{{method.name}}</a>
                        : <span class="simple-class-name">{{context.simpleClassName}}</span>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>